$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;   // Use this for errors or alerts
$light-color: #f8f9fa;
$dark-color: #343a40;
$text-color: #212529;

$font-family-base: 'Mulish', sans-serif;
$font-size-base: 1rem;
$font-weight-normal: 400;
$font-weight-bold: 700;

$spacer: 1rem; // Base spacer for padding and margins

$border-radius: 0.25rem;

$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 6px 8px rgba(0, 0, 0, 0.2);
